<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <settings env:require="Production or Prod" >      
      <setting name="VoiceSearchAuditConnectionString" value="user id=saadmin;password=Saadmin9$;Data Source=ngw03-prod-db01.ce1ks2hz6gmh.us-west-2.rds.amazonaws.com,1433;Database=ngsc911_AuditTrail"/>      
    </settings>
    <settings env:require="UAT" >
      <setting name="VoiceSearchAuditConnectionString" value="user id=sa;password=SaAdmin9$;Data Source=10.206.13.18;Database=ngsc911_AuditTrail"/>      
    </settings>
    <settings env:require="Development or Dev" >      
      <setting name="VoiceSearchAuditConnectionString" value="Data Source=10.206.24.154,1433;Initial Catalog=ngsc911_AuditTrail;User ID=saadmin;Password=SaAdmin9$" env:require="Development or Dev" />
    </settings>
  
    <pipelines>
      <VoicesearchPipepline>
        <processor type="Amgen.Web.Feature.ChatBot.Pipeline.VoiceSearchPipeline, Amgen.Web.Feature.Search" />
      </VoicesearchPipepline>
    </pipelines>
  </sitecore>
</configuration>